/* Project specific styles */

/* Theme */
:root {
    --font-brand: 'Bricolage Grotesque', sans-serif; /* The font that is mainly used on the website */
    --font-logo: 'Remora Camilla', sans-serif;
    --color-black: #000000;
    --color-black-1: #333333;
    --color-white: #ffffff;
    --color-white-1: #cccccc;
    --color-indigo: #5956de;
    --color-lime: #cbfb44;
    --color-yellow: #fff746;
    --color-pink: #ff76ce;
    --color-purple: #aa53f2;
    --color-cyan: #6bfffe;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0.3s;
}

body {
    color: var(--color-white);
    margin: 0;
    font-family: var(--font-brand);
    background-color: var(--color-black);
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: transparent;
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;

        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        transition: background-color 0.3s;
        border-radius: 3px;
        background-color: rgba(130, 130, 130, 0.4);
    }

    &::-webkit-scrollbar-thumb:hover {
        border-radius: 3px;
        background-color: rgba(130, 130, 130, 0.5);
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

/* Button */

a[role='button'],
button {
    color: var(--fg, var(--color-white));
    background: var(--bg, var(--color-black));
    border: none;
    transition: var(--transition, all 0.3s);
    font-family: var(--font-brand);
    font-weight: bold;
    border-radius: 2em;

    &:hover {
        translate: 0 -0.1em;
    }
    &:active {
        translate: 0 0.2em;
    }
    &:disabled {
        color: var(--color-fg-1);
        cursor: default;
        pointer-events: none;
        background-color: var(--color-bg-1);
    }

    &.loading {
        cursor: default;
        pointer-events: none;
        filter: brightness(0.8);
    }

    /* padding should only be based on text not icons */
    & > svg + * {
        margin: -1rem 0;
    }
}

.iconBtn {
    cursor: pointer;
    border: none;
    padding: 0;
    display: flex;
    background-color: transparent;
}
