/* Project specific styles */

/* Theme */
:root {
    --font-brand: 'Bricolage Grotesque', sans-serif; /* The font that is mainly used on the website */
    --color-black: #000000;
    --color-black-1: #333333;
    --color-white: #ffffff;
    --color-white-1: #cccccc;
    --color-indigo: #5956de;
    --color-lime: #cbfb44;
    --color-yellow: #fff746;
    --color-pink: #ff76ce;
    --color-purple: #9b48df;
    --color-cyan: #6bfffe;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0.3s;
}

body {
    color: var(--color-white);
    margin: 0;
    font-family: var(--font-brand);
    background-color: var(--color-black);
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: transparent;
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;

        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        transition: background-color 0.3s;
        border-radius: 3px;
        background-color: rgba(130, 130, 130, 0.4);
    }

    &::-webkit-scrollbar-thumb:hover {
        border-radius: 3px;
        background-color: rgba(130, 130, 130, 0.5);
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

/* Button */

a[role='button'],
button {
    color: var(--fg, var(--color-white));
    background: var(--bg, var(--color-black));
    border: none;
    transition: var(--transition, all 0.3s);
    font-family: var(--font-brand);
    font-weight: bold;
    border-radius: 2em;

    &:hover {
        translate: 0 -0.1em;
    }
    &:active {
        translate: 0 0.2em;
    }
    &:disabled {
        color: var(--color-fg-1);
        cursor: default;
        pointer-events: none;
        background-color: var(--color-bg-1);
    }

    &.loading {
        cursor: default;
        pointer-events: none;
        filter: brightness(0.8);
    }

    /* padding should only be based on text not icons */
    & > svg + * {
        margin: -1rem 0;
    }
}

.iconBtn {
    cursor: pointer;
    border: none;
    padding: 0;
    display: flex;
    background-color: transparent;
}

/* Prose */

.prose {
    color: var(--color-fg-1);
    font-family: var(--font-content);
}

.prose :is(h1, h2, h3, h4, h5, h6) {
    color: var(--color-fg);
    font-family: var(--font-heading);
}

.prose p {
    text-wrap: pretty;
}

.prose h2 {
    font-size: 2.2rem;
    margin-block-end: 0.3em;
    line-height: 1.4;
}

.prose h3 {
    font-size: 1.6rem;
    margin-block-end: 0.2em;
    line-height: 1.4;
}

.prose :is(h4, h5, h6) {
    color: red; /* should not be used */
}

.prose :is(p, ol, ul) {
    line-height: 1.7;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0.6rem;
    margin-bottom: 0.8rem;
}

.prose strong {
    color: var(--color-fg);
}

.prose blockquote {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 1.1rem;
    border-left: 3px solid var(--color-fg);
    font-style: italic;
}

@media (max-width: 600px) {
    .prose blockquote {
        font-size: 0.9rem;
    }
}

.prose blockquote > p {
    font-style: italic;
    margin: 0;
}

.prose img {
    margin: 0.8rem auto;
    display: block;
    max-width: 100%;
}

.prose video {
    margin: 0.8rem auto;
    display: block;
    max-width: 100%;
}

.prose a:not([role='button']) {
    color: var(--color-primary);
}

.prose a:not([role='button']):visited {
    color: var(--color-link-visited);
}

.prose a:hover {
    filter: brightness(1.3);
}

.prose :is(h1, h2, h3) > a,
.prose :is(h1, h2, h3) > a:visited,
.prose :is(h1, h2, h3) > a:not([role='button']),
.prose :is(h1, h2, h3) > a:not([role='button']):visited {
    color: var(--color-fg);
    text-decoration: none;
}

@media (max-width: 600px) {
    .prose h2 {
        font-size: 1.8rem;
    }
    .prose h3 {
        font-size: 1.4rem;
    }
    .prose :is(p, ol, ul) {
        font-size: 1rem;
    }
}
